<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detecção de Template em Vídeo</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>

<body>
    <h1>Detecção de Template em vídeo</h1>

    <form id="upload_form" action="/uploads" method="post" enctype="multipart/form-data">
        <div>
            <label for="uploadVideo">Video:</label>
            <input type="file" id="arquivo_video" name="video" accept="video/*" required>
        </div>
        <div>
            <label for="uploadImagem">Imagem:</label>
            <input type="file" id="arquivo_template" name="image" accept="image/*" required>
        </div>
        <input type="hidden" id="wsSid" name="ws_sid">
        <div>
            <label for="thresholdInput">Limiar de Detecção (0.0 a 1.0):</label>
            <input type="number" id="threshold_input" name="threshold" 
                   min="0.0" max="1.0" step="0.1" value="0.7">
        </div>
        <input type="submit" value="Fazer o Upload e Processar">
    </form>

    <div id="status_geral">
        <div class="status-item">
            <label for="">Status processamento:</label>
            <p id="status_processamento">Aguardando processamento...</p>
        </div>
        <div class="status-item">
            <label for="">Status servidor:</label>
            <p id="status_servidor"></p>
        </div>
    </div>

    <div id="identificador_frames">
        <h2>Frames encontrados</h2>
        <ul id="frames_encontrados">
        </ul>
    </div>

    <script src="../static/js/scripts.js"></script>
</body>

</html>